{% extends 'base.html' %}

{% block body %}

    {% include "components/navbar.html" %}

    <div class="container mx-auto mt-20">
        <div class="flex flex-col gap-4 items-center">
            <h1 class="text-2xl font-bold">Adicionar exercício</h1>

            <form class="flex flex-col gap-4 w-full max-w-md "
                  hx-post="{% url 'add_exercise' %}"
                  hx-target="#form"
                  hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
                <div id="form" class="class flex flex-col gap-4">

                    {% include "components/form.html" with form=form %}

                </div>

                <button class="primary-button" type="submit">Cadastrar</button>
            </form>
        </div>
    </div>

{% endblock body %}
