{% extends "base.html" %}

{% block body %}

    <div class="min-h-screen grid grid-cols-1 lg:grid-cols-2">
        <div class="bg-blue-500 hidden lg:block"></div>
        <div class="flex flex-col items-center justify-between p-4">
            <div class="flex w-full justify-end">
                <a class="secondary-button " href="{% url 'signin' %}">Já tem uma conta?</a>
            </div>

            <form class="flex flex-col gap-4 w-full max-w-sm"
                  hx-post="{% url 'signup' %}"
                  hx-target="#form"
                  hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>

                <div id="form" class="class flex flex-col gap-4">

                    {% include "components/form.html" with form=form %}

                </div>

                <button class="primary-button" type="submit">Cadastrar</button>
            </form>

            <div>
                <p>Todos direitos reservados &#174;</p>
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/imask"></script>
    <script>
        const loadMasks = () => {
            IMask(
                document.getElementById('id_cpf_cnpj'), {
                    mask: [{
                            mask: '000.000.000-00',
                        }, // CPF
                        {
                            mask: '00.000.000/0000-00',
                        } // CNPJ
                    ]
                }
            );
            IMask(
                document.getElementById('id_name'), {
                    mask: /^[a-zA-Z\s]*$/
                }
            );
        }

        document.addEventListener('DOMContentLoaded', loadMasks);

        document.body.addEventListener('htmx:afterSwap', loadMasks);
    </script>

{% endblock body %}
